html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background: #007BFF;
    color: #fff;
}

footer p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 24px; 
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    padding: 10px 15px;
    list-style-type: none;
    background-color: #007BFF; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px; 
    transition: background-color 0.3s ease;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; 
}

nav ul li:hover {
    background-color: #0056b3;
    cursor: pointer; 
}

nav ul li:hover a {
    color: #ccefff;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-info img {
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo, nav {
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }

    nav ul li {
        padding: 5px;
        margin-right: 0;
    }

    .user-info img {
        alignments: center;
    }

    .avatar-img {
        justify-content: center;
        width: 100%;
    }
}



/* posts.handlebars  */

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.post-avatar img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    float: left; 
    margin-right: 15px; 
}

.post-content {
    overflow: hidden;
}

.post h3 {
    margin-top: 0;
    color: #007BFF; 
}

.post p {
    color: #666;
    line-height: 1.5;
}

.post-info {
    font-size: 0.85rem;
    color: #999;
    margin-top: 10px;
}


.post-status-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px; 
}

.like-button, .delete-button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.like-button {
    background-color: #007BFF;
    margin-right: 10px;
}

.like-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.delete-button {
    background-color: #FF6347;
}

.delete-button:hover {
    background-color: #e05241;
    transform: scale(1.05);
}

.like-button:hover, .delete-button:hover {
    background-color: #0056b3;
}

.like-button.liked {
    background-color: #ff4500;
    color: #ffffff; 
}

.fas {
    margin-right: 5px;
}


@media (max-width: 768px) {
    .post {
        padding: 15px;
    }

    .post-avatar img {
        width: 40px;
        height: 40px;
    }

    .post-status-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .likes-counter {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* home.handlebars */
.content-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.post-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.post-form .form-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.post-form .form-actions button:hover {
    background-color: #0056b3;
}

.emoji-button {
    font-size: 1.5rem;
}

#emoji-container {
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 300px;
}

#emoji-grid span {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#emoji-grid span:hover {
    background-color: #e2e2e2;
}

.posts-list ul {
    list-style-type: none;
    padding: 0;
}

.posts-list li {
    margin-bottom: 10px;
}

/* login */

.login-register h2 {
    color: #007BFF; 
    margin-bottom: 20px; 
}

.login-register input[type="text"],
.login-register input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.login-register button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-register button:hover {
    background-color: #0056b3;
}

.login-register p {
    color: red; 
    padding: 5px;
    border: 1px solid #ffbaba;
    background-color: #ffe5e5;
}

.register-area::before {
    content: "OR";
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #666;
}

.login-register {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .login-register {
        padding: 10px;
    }

    .login-register input[type="text"],
    .login-register input[type="password"],
    .login-register button {
        padding: 8px;
    }
}

/* profile */
.profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.profile-info {
    flex-grow: 1; 
}

.profile-info h1 {
    color: #007BFF; 
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #666;  
    margin: 5px 0;
}
